*.iml
.idea
Uploads

Server/wafer-take-out-server/dish-service/pkg/ai/secret.go
Server/wafer-take-out-server/setmeal-service/pkg/ai/secret.go
Server/wafer-take-out-server/user-service/pkg/wechat/secret.go




olds/pkg/pkg/wechat/secret.go
olds/pkg/pkg/ai/secret.go
olds/pkg/ai/secret.go